body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.h1{
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.ul{
    text-align: center;
    font-size: medium;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}