{% extends 'base.html' %}
    
    {% block nav %}
        
    {% endblock nav %}
     
    {% block blockname %}
    
        
    <section id="header">
        <div class="conent">
            <h1>COURSES</h1>
            <p>We offer Kenya Sign Language and Interpretation</p>
            <p>The fee structure can be downloaded according to your nearest centre</p>
</div>
<ul class="dropdown-menu">
    <li>
        <div class="box1-innerbg1">
            <a href="Online">Online</a>
            <a href="Nyeri">Nyeri</a>
            <a href="Meru">Meru</a>
            <a href="Mombasa">Mombasa</a>
            <a href="Thika">Thika</a>   
        </div>
    </li>
</ul>
    </section>
    <section id="fee-structure">
        <div class="fee-list">
            <a href="Online">Online</a>
            <a href="Nyeri">Nyeri</a>
            <a href="Meru">Meru</a>
            <a href="Mombasa">Mombasa</a>
            <a href="Thika">Thika</a>
        </div>
    <a href="/templates/signup.html">ENROLL NOW</a>    
            
    </section>
    
    {% endblock blockname %}
    
    {% block footer %}
        
    {% endblock footer %}
        
