{% extends 'base2.html' %}
    
    {% block header %}
        
    {% endblock header %}
     
    {% block main %}
    
    
    <section class="grid">
        <div class="grid justify-center">
            <h1>Welcome to ProTerp Sign Language Training Centre</h1>
            <p>Your path to success begins here.</p>
            <button class="rounded-md bg-black red-800">Get Started</button>
        </div>
        <div class="grid place-self-end w-20 h-20">
            <img src="{{ url_for('static', filename='icons/logo2.png')}}" class="logo" aria-label="hero-img">
        </div>
    </section>
    <section id="about">
        <div class="aboutus">
            <h1>About Us</h1>
            <p>Pro-Terp Sign Language Training Centre is a centre that establishes an environment where intepreters, students, children and people who are interested in learning Kenya Sign Language may exercise authentic participation and pursue their own visions, dreams, hopes and concerns partaining the Deaf community. We intent to care for the social importance of all parties in the society by offering sign language training. This bridges communication with the deaf people to make them also relevant in the society.</p>
            <p>Sign Language training and all matters regarding sign language areas, including interpretation, translation of written announcements, adverts, in any institution such as standard charters, and services delivery into Kenyan sign language</p>
        </div>
        <a href="templates/index.html" class="studentportal">Student Portal</a>
    </section>
    {% endblock main %}
    <!-- Footer Section -->
    
    
    {% block footer %}
        
    {% endblock footer %}